html, body {
  font-family: "Open Sans", sans-serif;
  position: relative;
  height: 100%;
}
a{
  text-decoration: none;
}

/*--------------------------------------------------------------
# stripe background
--------------------------------------------------------------*/

/*.stripe-1 {
background-image: linear-gradient(45deg, #ebebeb 25%, #f7f7f7 25%, #f7f7f7 50%, #ebebeb 50%, #ebebeb 75%, #f7f7f7 75%, #f7f7f7 100%);
background-size: 11.31px 11.31px;
}
*/


/*--------------------------------------------------------------
# Top Bar
--------------------------------------------------------------*/
#topbar {
padding-top: 3px;
padding-bottom: 3px;
font-size: 12px;
transition: all 0.5s;
z-index: 996;
background: #9e9c97;
/* background: cornsilk; */
/* background: linear-gradient(90deg, rgb(245, 213, 48) 0%, rgb(84, 190, 96) 0%, rgba(73, 209, 164, 0.51) 100%); */
}
#topbar.topbar-scrolled {
top: -40px;
}
#topbar .contact-info i {
font-style: normal;
/* color: black; */
/* background-color: #f9fbeecf; */
padding: 8px;
border-radius: 30px;
}
#topbar .contact-info i span {
padding-left: 5px;
color: black;
}
#topbar a {
color: inherit;
}
#topbar .bi-facebook {
color: #4267B2;
}
#topbar .bi-instagram {
color: #8a3ab9;
}
#topbar .bi-twitter {
color: #00ACEE;
}
#topbar .bi-linkedin {
color: #0077b5;
}

@media (max-width: 768px) {
#topbar .contact-info i {
  font-style: normal;
  /* color: rgb(245, 13, 13); */

  /* background-color: #f9fbeecf; */
 
  padding: 8px;
  border-radius: 30px;
  
}
#topbar .contact-info i span {
  display: none;
  
}

}

/*--------------------------------------------------------------
# Sticky Header
--------------------------------------------------------------*/
.header {
padding: 0px;
background: rgba(12, 11, 9, 0.6);;
color: #f1f1f1;
z-index: 100000;
}

.content {
/*padding: 16px;*/
}

.sticky {
position: fixed;
top: 0;
width: 100%;
}

.sticky + .content {
padding-top: 102px;
}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/**
* Desktop Navigation 
*/
.navbar {
padding-inline: 10px;
justify-content: center !important;
padding: 2px;

}

.navbar ul {
margin: 0;
padding: 0;
display: flex;
list-style: none;
align-items: center;
}

.navbar li {
position: relative;
}

.navbar a,
.navbar a:focus {
display: flex;
align-items: center;
justify-content: space-between;
padding: 10px 0 10px 30px;
font-size: 15px;
font-weight: 600;
color: #fff;
white-space: nowrap;
transition: 0.3s;
}

.navbar a i,
.navbar a:focus i {
font-size: 12px;
line-height: 0;
margin-left: 5px;
}

.navbar a:hover,
.navbar .active,
.navbar .active:focus,
.navbar li:hover>a {
color: #49d1a4;
}

.navbar .dropdown ul {
display: block;
position: absolute;
right: 4px;
top: calc(100% + 30px);
margin: 0;
padding: 10px 0;
z-index: 99;
opacity: 0;
visibility: hidden;
background: #fff;
box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
transition: 0.3s;
}

.navbar .dropdown ul li {
min-width: 200px;
}

.navbar .dropdown ul a {
padding: 10px 20px;
font-size: 14px;
text-transform: none;
color: #151515;
font-weight: 400;
}

.navbar .dropdown ul a i {
font-size: 12px;
}

.navbar .dropdown ul a:hover,
.navbar .dropdown ul .active:hover,
.navbar .dropdown ul li:hover>a {
background-color: #49d1a4;
}

.navbar .dropdown:hover>ul {
opacity: 1;
top: 100%;
visibility: visible;
}

.navbar .dropdown .dropdown ul {
top: 0;
left: calc(100% - 30px);
visibility: hidden;
}

.navbar .dropdown .dropdown:hover>ul {
opacity: 1;
top: 0;
left: 100%;
visibility: visible;
}

@media (max-width: 1366px) {
.navbar .dropdown .dropdown ul {
  left: -90%;
}
.navbar{
  justify-content: flex-end !important;
}

.navbar .dropdown .dropdown:hover>ul {
  left: -100%;
}
}

/**
* Mobile Navigation 
*/
.mobile-nav-toggle {
color: #fff;
font-size: 28px;
cursor: pointer;
display: none;
line-height: 0;
transition: 0.5s;

}

@media (max-width: 991px) {
.mobile-nav-toggle {
  display: block;
}

.navbar ul {
  display: none;
}
}

.navbar-mobile {
position: fixed;
overflow: hidden;
top: 0;
right: 0;
left: 0;
bottom: 0;
background: rgba(0, 0, 0, 0.9);
transition: 0.3s;
z-index: 999;
}

.navbar-mobile .mobile-nav-toggle {
position: absolute;
top: 15px;
right: 15px;
}

.navbar-mobile ul {
display: block;
position: absolute;
top: 55px;
right: 15px;
bottom: 15px;
left: 15px;
padding: 10px 0;
background-color: #000;
overflow-y: auto;
transition: 0.3s;
}

.navbar-mobile a,
.navbar-mobile a:focus {
padding: 10px 20px;
font-size: 15px;
color: #151515;
}

.navbar-mobile a:hover,
.navbar-mobile .active,
.navbar-mobile li:hover>a {
color: #151515;
background-color: #49d1a4;
}

.navbar-mobile .getstarted,
.navbar-mobile .getstarted:focus {
margin: 15px;
}

.navbar-mobile .dropdown ul {
position: static;
display: none;
margin: 10px 20px;
padding: 10px 0;
z-index: 99;
opacity: 1;
visibility: visible;
background: #fff;
box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
}

.navbar-mobile .dropdown ul li {
min-width: 200px;
}

.navbar-mobile .dropdown ul a {
padding: 10px 20px;
color: #151515;
}

.navbar-mobile .dropdown ul a i {
font-size: 12px;
}

.navbar-mobile .dropdown ul a:hover,
.navbar-mobile .dropdown ul .active:hover,
.navbar-mobile .dropdown ul li:hover>a {
background-color: #49d1a4;
}

.navbar-mobile .dropdown>.dropdown-active {
display: block;
}

/*END*/

.bg-nav-dark{
  background-color: #393939;
  border-color: #393939;
}
.navbar{
  border-bottom: 3px solid #884932;
}

.navbar a, .navbar a:focus {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /*padding: 10px 0 10px 30px;*/
  color: #fff;
  white-space: nowrap;
  transition: 0.3s;
  /*font-size: 14px;*/
}
.navbar a i{
  font-size: 12px;
  line-height: 0;
  margin-left: 5px;
}

/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/
/* section {
padding: 60px 0;
overflow: hidden;
} */

.section-title {
/*padding-bottom: 40px;*/
 /*background: rgb(245,213,48);*/
 background: linear-gradient(90deg, rgb(245, 213, 48) 0%, rgb(73, 209, 164) 0%, rgba(73, 209, 164, 0) 100%);
}

.section-title h2 {
font-size: 14px;
font-weight: 500;
padding: 1px;
/*line-height: 1px;*/
margin: 0 0 5px 0;
letter-spacing: 2px;
text-transform: uppercase;
color: #000;
font-family: "Poppins", sans-serif;
}

.section-title h2::after {
content: "";
width: 120px;
height: 1px;
display: inline-block;
background: #000;
margin: 4px 10px;
}

.section-title p {
margin: 0;
margin: 0;
font-size: 36px;
font-weight: 700;
text-transform: uppercase;
font-family: "Poppins", sans-serif;
color: #151515;
}

/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
#hero {
width: 100%;
height: 390px;
/*background-color: rgba(59, 59, 59, 0.8);*/
overflow: hidden;
padding: 0;
/*margin-bottom: -120px;*/
position: relative;
z-index: 1;
}

#hero .carousel-item {
width: 100%;
height: 390px;
background-size: cover;
background-position: center;
background-repeat: no-repeat;
background-position: center center;
}

#hero .carousel-item::before {
content: "";
background-color: rgba(255, 255, 255, 0.6);
position: absolute;
top: 0;
right: 0;
left: 0;
bottom: 0;
}

#hero .carousel-container {
display: flex;
justify-content: center;
align-items: center;
position: absolute;
bottom: 0;
top: 0;
left: 0;
right: 0;
padding-bottom: 120px;
}

#hero .carousel-content {
text-align: center;
}

#hero h2 {
color: #2e2e2e;
margin-bottom: 30px;
font-size: 48px;
font-weight: 700;
}

#hero h2 span {
color: #54be60;
}

#hero p {
width: 80%;
-webkit-animation-delay: 0.4s;
animation-delay: 0.4s;
margin: 0 auto 30px auto;
color: arken(#545454, 15);
}

#hero .carousel-inner .carousel-item {
transition-property: opacity;
background-position: center top;
}

#hero .carousel-inner .carousel-item,
#hero .carousel-inner .active.carousel-item-start,
#hero .carousel-inner .active.carousel-item-end {
opacity: 0;
}

#hero .carousel-inner .active,
#hero .carousel-inner .carousel-item-next.carousel-item-start,
#hero .carousel-inner .carousel-item-prev.carousel-item-end {
opacity: 1;
transition: 0.5s;
}

#hero .carousel-inner .carousel-item-next,
#hero .carousel-inner .carousel-item-prev,
#hero .carousel-inner .active.carousel-item-start,
#hero .carousel-inner .active.carousel-item-end {
left: 0;
transform: translate3d(0, 0, 0);
}

#hero .carousel-control-prev,
#hero .carousel-control-next {
width: 10%;
}

#hero .carousel-control-next-icon,
#hero .carousel-control-prev-icon {
background: none;
font-size: 48px;
line-height: 1;
width: auto;
height: auto;
color: #545454;
}

#hero .carousel-indicators li {
cursor: pointer;
background: #54be60;
overflow: hidden;
border: 0;
width: 12px;
height: 12px;
border-radius: 50px;
/*margin-bottom: 180px;*/
opacity: 0.2;
}

#hero .carousel-indicators li.active {
opacity: 1;
}

#hero .btn-get-started {
font-family: "Raleway", sans-serif;
font-weight: 500;
font-size: 14px;
letter-spacing: 1px;
display: inline-block;
padding: 12px 32px;
border-radius: 50px;
transition: 0.5s;
line-height: 1;
margin: 10px;
color: #fff;
-webkit-animation-delay: 0.8s;
animation-delay: 0.8s;
border: 2px solid #54be60;
background: #54be60;
}

#hero .btn-get-started:hover {
background: transparent;
color: #54be60;
text-decoration: none;
}

@media (max-height: 768px),
(max-width: 2000px) {
#hero {
  /*margin-bottom: 60px;*/
}

#hero .carousel-container {
  padding-bottom: 0;
}

#hero .carousel-indicators li {
  margin-bottom: 0;
}
}

@media (max-width: 768px) {
#hero {
  height: 50vh;
}

#hero .carousel-item {
  height: 50vh;
}
}

@media (min-width: 1024px) {
#hero p {
  width: 50%;
}

#hero .carousel-control-prev,
#hero .carousel-control-next {
  width: 5%;
}
}

/*--------------------------------------------------------------
# submit Section
--------------------------------------------------------------*/
#submit {
width: 100%;
height: 24.5vh;
/*background-color: rgba(59, 59, 59, 0.8);*/
overflow: hidden;
padding: 0;
/*margin-bottom: -120px;*/
position: relative;
z-index: 1;
}
#submit .submit-container {
display: flex;
justify-content: center;
align-items: center;
position: absolute;
bottom: 0;
top: 0;
left: 0;
right: 0;
/*padding-bottom: 120px;*/
background: #f4f4f4;
}
#submit .submit-item {
width: 80%;
-webkit-animation-delay: 0.4s;
animation-delay: 0.4s;
/*margin: 0 auto 30px auto;*/
color: arken(#545454, 15);
border: 3px solid green;
padding: 2.5rem;
text-align: center;
font-size: x-large;
transition: ease-in-out 0.3s;
border: 1px solid rgba(179, 16, 16, 0.3);
}

#submit .submit-item:hover {
border-color: #49d1a4;
}

@media (max-width: 1230px) {
#submit .submit-item {
  padding: 2rem;
}
}



/*--------------------------------------------------------------
# indexing
--------------------------------------------------------------*/
.indexing {
padding-top: 0px;
padding-bottom: 0px;
}

.indexing .swiper-slide img {
/* opacity: 0.5; */
transition: 0.3s;
height: 100px;
/*filter: grayscale(100);*/
}

.indexing .swiper-slide img:hover {
filter: none;
opacity: 1;
}

.indexing .swiper-pagination {
margin-top: 20px;
position: relative;
}

.indexing .swiper-pagination .swiper-pagination-bullet {
width: 12px;
height: 12px;
background-color: #fff;
opacity: 1;
background-color: #ddd;
}

.indexing .swiper-pagination .swiper-pagination-bullet-active {
background-color: #49d1a4;
}



/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
.back-to-top {
position: fixed;
visibility: hidden;
opacity: 0;
right: 15px;
bottom: 15px;
z-index: 996;
background: #49d1a4;
width: 40px;
height: 40px;
border-radius: 4px;
transition: all 0.4s;
}

.back-to-top i {
font-size: 28px;
color: #151515;
line-height: 0;
}

.back-to-top:hover {
background: #151515;
}

.back-to-top:hover i {
color: #49d1a4;
}

.back-to-top.active {
visibility: visible;
opacity: 1;
}


/*--------------------------------------------------------------
# Submit button
--------------------------------------------------------------*/
.btn {
letter-spacing: 0.1em;
cursor: pointer;
font-size: 14px;
font-weight: 400;
line-height: 25px;
/*max-width: 360px;*/
position: relative;
text-decoration: none;
text-transform: uppercase;
width: 100%;
padding:  0.1rem;
}
.btn:hover {
text-decoration: none;
}

/*btn_background*/
.effect01 {
color: #FFF;
border: 4px solid #54be60;
box-shadow:0px 0px 0px 1px #54be60 inset;
background-color: #54be60;
overflow: hidden;
position: relative;
/*transition: all 0.3s ease-in-out;*/
}
.effect01:hover {
border: 4px solid #49d1a4;
background-color: #49d1a4;
box-shadow:0px 0px 0px 4px #49d1a4 inset;
}

/*btn_text*/
.effect01 span {
/*transition: all 0.2s ease-out;*/
z-index: 2;
}
.effect01:hover span{
letter-spacing: 0.13em;
color: #333;
}

/*highlight*/
.effect01:after {
background: #FFF;
border: 0px solid #000;
content: "";
height: 155px;
left: -75px;
opacity: .8;
position: absolute;
top: -50px;
-webkit-transform: rotate(35deg);
        transform: rotate(35deg);
width: 50px;
transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);/*easeOutCirc*/
z-index: 1;
}
.effect01:hover:after {
background: #FFF;
border: 20px solid #000;
opacity: 0;
left: 120%;
-webkit-transform: rotate(40deg);
        transform: rotate(40deg);
}


/*btn_background Effect 02*/
.effect02 {
color: #333;
border: 4px solid #49d1a4;
background-color: #49d1a4;
box-shadow:0px 0px 0px 4px #49d1a4 inset;
overflow: hidden;
position: relative;
/*transition: all 0.3s ease-in-out;*/
}
.effect02:hover {
border: 4px solid #54be60;
box-shadow:0px 0px 0px 1px #54be60 inset;
background-color: #54be60;
}

/*btn_text*/
.effect02 span {
/*transition: all 0.2s ease-out;*/
z-index: 2;
}
.effect02:hover span{
letter-spacing: 0.13em;
color: #fff;
}

/*highlight*/
.effect02:after {
background: #FFF;
border: 0px solid #000;
content: "";
height: 155px;
left: -75px;
opacity: .8;
position: absolute;
top: -50px;
-webkit-transform: rotate(35deg);
        transform: rotate(35deg);
width: 50px;
transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);/*easeOutCirc*/
z-index: 1;
}
.effect02:hover:after {
background: #FFF;
border: 20px solid #000;
opacity: 0;
left: 120%;
-webkit-transform: rotate(40deg);
        transform: rotate(40deg);
}
@media (max-width: 1230px) {
.btn {
  font-size: 12px;
}
}

@media (mic-width: 1200px) {
.btn {
  padding: 1rem;
  line-height: 25px;
}
}
/*--------------------------------------------------------------
# Card
--------------------------------------------------------------*/

#article .card {
/* border-radius: 16px; */
margin: 0 auto;
width: 400px;
max-width: 100%;
min-height: 300px;
box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2),
  0px 5px 8px 0px rgba(0, 0, 0, 0.14),
  0px 1px 14px 0px rgba(0, 0, 0, 0.12);
overflow: hidden;
/* background-image: url(https://source.unsplash.com/collection/905011/1000x1000); */
background-size: cover;

font-family: var(--mdb-font-roboto);
line-height: 1.6;
color: #4f4f4f;
}


.title {
margin: 0;
padding: 24px;
font-size: 18px;
font-weight: 600;
/* line-height: 1;
color: rgba(0, 0, 0, 0.87); */

font-family: var(--mdb-font-roboto);
line-height: 1.6;
color: #4f4f4f;
}

.description {
margin: 0;
padding: 0 24px 24px;
font-size: 15px;
line-height: 1.5;
}

.card-icon{
margin: 0;
padding: 0 24px 24px;
font-size: 15px;
}

@media (min-width:992px) {
.title {
  margin: 0;
  padding: 18px;
  font-size: 17px;
}
.description {
  padding: 0 18px 18px;
  font-size: 14px;
}
.card-icon{
margin: 0;
padding: 0 18px 18px;
font-size: 14px;
}
}

@media (min-width:1200px) {
.title {
  margin: 0;
  padding: 19px;
  font-size: 17px;
}
.description {
  padding: 0 19px 19px;
  font-size: 14px;
}
.card-icon{
margin: 0;
padding: 0 19px 19px;
font-size: 14px;
}
}

@media (min-width:1290px) {
.title {
  margin: 0;
  padding: 20px;
  font-size: 18px;
}
.description {
  padding: 0 20px 20px;
  font-size: 14px;
}
.card-icon{
margin: 0;
padding: 0 20px 20px;
font-size: 14px;
}
}

p {
margin-bottom: 1.3em;
line-height: 1.618
}

@media (min-width:800px) {
p {
  font-size: 1.3em
}
}

a {
color: #e03616;
text-decoration: none
}


/*--------------------------------------------------------------
# article
--------------------------------------------------------------*/
.article {
padding-top: 0px;
padding-bottom: 0px;
}

.article .swiper-slide img {
/*opacity: 0.5;*/
width: 200px;
transition: 0.3s;
/*filter: grayscale(100);*/
}

.article .swiper-slide img:hover {
filter: none;
opacity: 1;
}

.article .swiper-pagination {
margin-top: 20px;
position: relative;
}

.article .swiper-pagination .swiper-pagination-bullet {
width: 12px;
height: 12px;
background-color: #fff;
opacity: 1;
background-color: #ddd;
}

.article .swiper-pagination .swiper-pagination-bullet-active {
background-color: #49d1a4;
}


/*--------------------------------------------------------------
# access-policy Section
--------------------------------------------------------------*/
#access-policy {
width: 100%;
height: 350px;
/*background-color: rgba(59, 59, 59, 0.8);*/
overflow: hidden;
padding: 0;
/*margin-bottom: -120px;*/
position: relative;
z-index: 1;
}
#access-policy .access-policy-container {
display: flex;
justify-content: center;
align-items: center;
position: absolute;
bottom: 0;
top: 0;
left: 0;
right: 0;
/*padding-bottom: 120px;*/
/* background: #f4f4f4; */
}
#access-policy .access-policy-item {
width: 80%;
-webkit-animation-delay: 0.4s;
animation-delay: 0.4s;
/*margin: 0 auto 30px auto;*/
color: arken(#545454, 15);
border: 3px solid green;
padding: 2rem;
text-align: center;
font-size: 14px;
transition: ease-in-out 0.3s;
border: 1px solid rgba(179, 16, 16, 0.3);
}

#access-policy .access-policy-item:hover {
border-color: #49d1a4;
}

@media (max-width: 1230px) {
#access-policy .access-policy-item {
  padding: 2rem;
}
}
@media (max-width: 992px) {
#access-policy .access-policy-item {
  padding: 2rem;
  font-size: 14px;
}
}
@media (max-width: 1337px) {
#access-policy .access-policy-item {
  padding: 1rem;
}
}


/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#footer {
background: black;
padding: 0;
color: #fff;
font-size: 14px;
}
#footer .footer-top {
background: #0c0b09;
border-top: 1px solid #37332a;
border-bottom: 1px solid #28251f;
padding: 30px 0 10px 0;
}
#footer .footer-top .footer-info {
margin-bottom: 30px;
}
#footer .footer-top .footer-info h3 {
font-size: 24px;
margin: 0 0 20px 0;
padding: 2px 0 2px 0;
line-height: 1;
font-weight: 300;
font-family: "Poppins", sans-serif;
}
#footer .footer-top .footer-info p {
font-size: 14px;
line-height: 24px;
margin-bottom: 0;
color: #fff;
}
#footer .footer-top .footer-info p i {
padding-right: 2px;
color: #cda45e;
font-size: 18px;
line-height: 1;
}
#footer .footer-top .social-links a {
font-size: 18px;
display: inline-block;
background: #28251f;
color: #fff;
line-height: 1;
padding: 8px 0;
margin-right: 4px;
border-radius: 50%;
text-align: center;
width: 36px;
height: 36px;
transition: 0.3s;
}
#footer .footer-top .social-links a:hover {
background: #cda45e;
color: #fff;
text-decoration: none;
}
#footer .footer-top h4 {
font-size: 16px;
font-weight: 600;
color: #fff;
position: relative;
padding-bottom: 12px;
}
#footer .footer-top .footer-links {
margin-bottom: 30px;
}
#footer .footer-top .footer-links ul {
list-style: none;
padding: 0;
margin: 0;
}
#footer .footer-top .footer-links ul i {
padding-right: 2px;
color: #cda45e;
font-size: 18px;
line-height: 1;
}
#footer .footer-top .footer-links ul li {
padding: 10px 0;
display: flex;
align-items: center;
}
#footer .footer-top .footer-links ul li:first-child {
padding-top: 0;
}
#footer .footer-top .footer-links ul a {
color: #fff;
transition: 0.3s;
display: inline-block;
line-height: 1;
}
#footer .footer-top .footer-links ul a:hover {
color: #cda45e;
}
#footer .copyright {
text-align: center;
padding-top: 5px;
}
#footer .credits {
padding-bottom: 5px;
text-align: center;
font-size: 13px;
color: #fff;
}

/*--------------------------------------------------------------
# sticku menu
--------------------------------------------------------------*/
.manus{
position: fixed;
top: 7px;
right: 0px;
z-index: 100000;
box-shadow: 2px 6px 27px 4px rgba(0,0,0,0.75);
border-radius: 6px;
}


.journal-list .card-title {

  font-size: 18px;
  font-weight: 700;
  color: #54be60;
  text-transform: uppercase;
}

.journal-list .card-block {
  font-size: 1em;
  position: relative;
  margin: 0;
  padding: 1em;
  border: none;
  border-top: 1px solid rgba(34, 36, 38, .1);
  box-shadow: none;
   
}
.journal-list .card {
  font-size: 1em;
  overflow: hidden;
  padding: 5;
  width: 90%;
  border: none;
  border-radius: .28571429rem;
  box-shadow: 0 1px 3px 0 #d4d4d5, 0 0 0 1px #d4d4d5;
  margin-top:20px;
}
.journal-list .card-text {
font-size: 14px;
}
@media (min-width: 368px) {
.journal-list .card {
  width: 100%;
}
.journal-list .card-title {
font-size: 14px;
}
.journal-list .card-text {
  font-size: 12px;
}
}
@media (min-width: 769px) {
.journal-list .card {
  width: 100%;
}
.journal-list .card-title {
font-size: 20px;
}
.journal-list .card-text {
  font-size: 16px;
}
}
@media (min-width: 993px) {
.journal-list .card {
  width: 100%;
}
.journal-list .card-title {
font-size: 14px;
}
.journal-list .card-text {
  font-size: 12px;
}
}
@media (min-width: 1200px) {
.journal-list .card {
  width: 100%;
}
.journal-list .card-title {
font-size: 16px;
}
.journal-list .card-text {
  font-size: 14px;
}
}

/*--------------------------------------------------------------
# Specials
--------------------------------------------------------------*/
#specials .specials {
overflow: hidden;
padding: 0;
}
#specials .specials-title p {
margin: 0;
font-size: 35px;
padding: 5px;
/* font-family: 'Tangerine', serif; */
/* font-size: 48px; */
text-shadow: 2px 2px 9px #aaa;
font-weight: 700;

}
.specials .nav-tabs {
border: 0;
}
.specials .nav-link {
border: 0;
padding: 12px 15px;
transition: 0.3s;
color: #000;
border-radius: 0;
border-right: 2px solid #49d1a4;
font-weight: 600;
font-size: 19px;
/* font-family: 'Dancing Script', cursive; */
letter-spacing: 0.1em;
}
.specials .nav-link:hover {
color: #54be60;
}
.specials .nav-link.active {
color: #1a1814;
background: #49d1a4;
border-color: #49d1a4;
}
.specials .nav-link:hover {
border-color: #49d1a4;
}
.specials .tab-pane.active {
-webkit-animation: fadeIn 0.5s ease-out;
animation: fadeIn 0.5s ease-out;
}
.specials .details h3 {
font-size: 26px;
font-weight: 600;
margin-bottom: 20px;
color: #000;
/* font-family: 'Dancing Script', cursive; */

}
.specials .details p {
color: #000;
/* font-size: 18px; */
/* font-family: 'Dancing Script', cursive; */
}
.specials .details p:last-child {
margin-bottom: 0;
}
.specials p {
font-size: 1rem;
}
.specials hr {
margin: 0;
color: red;
height: 2px;
}
@media (max-width: 992px) {
.specials .nav-link {
  border: 0;
  padding: 15px;
}
#specials .specials-title p {
  font-size: 20px;
}
.specials .nav-link {
  padding: 8px 10px;
  border-right: 2px solid #49d1a4;
  font-weight: 600;
  font: 1rem sans-serif;
}
}
.editorial-img {
object-fit: cover;
height: 150px;
width: 150px;
background-image: url(../../assets/img/logo/No_image_available.png);
background-repeat: no-repeat;
background-position: center;
}
.rounded-circle {
border-radius: 50% !important;
}
.editorial-style .card-title {
font-family: "Open Sans", sans-serif;
font-weight: 700;
}
.details .btn{
width: auto;
}



/*--------------------------------------------------------------
# Contact Us
--------------------------------------------------------------*/
.contact_info_item
{
    width: calc((100% - 60px) / 3);
    height: 100px;
    border: solid 1px #e8e8e8;
    box-shadow: 0px 1px 5px rgba(0,0,0,0.1);
    padding-left: 32px;
    padding-right: 15px;
}
.contact_info_image
{
    width: 35px;
    height: 35px;
    text-align: center;
}
.contact_info_image img
{
    max-width: 100%;
}
.contact_info_content
{
    padding-left: 17px;
}
.contact_info_title
{
    font-weight: 500;
}
.contact_info_text
{
    font-size: 12px;
    color: rgba(0,0,0,0.5);
}

/*********************************
Contact Form
*********************************/

.contact_form_container
{

}
.contact_form_title
{
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 37px;
}
.contact_form_inputs
{
    margin-bottom: 30px;
}
.input_field
{
    width: calc((100% - 60px) / 3);
    height: 50px;
    padding-left: 25px;
    border: solid 1px #e5e5e5;
    border-radius: 5px;
    outline: none;
    color: #0e8ce4;
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease;
}
.input_field:focus,
.text_field:focus
{
    border-color: #b2b2b2;
}
.input_field:hover,
.text_field:hover
{
    border-color: #b2b2b2;
}
.input_field::-webkit-input-placeholder,
.text_field::-webkit-input-placeholder
{
    font-size: 16px;
    font-weight: 400;
    color: rgba(0,0,0,0.9);
}
.input_field:-moz-placeholder,
.text_field:-moz-placeholder
{
    font-size: 16px;
    font-weight: 400;
    color: rgba(0,0,0,0.9);
}
.input_field::-moz-placeholder,
.text_field::-moz-placeholder
{
    font-size: 16px;
    font-weight: 400;
    color: rgba(0,0,0,0.9);
} 
.input_field:-ms-input-placeholder,
.text_field:-ms-input-placeholder
{ 
    font-size: 16px;
    font-weight: 400;
    color: rgba(0,0,0,0.9);
}
.input_field::input-placeholder,
.text_field::input-placeholder
{
    font-size: 16px;
    font-weight: 400;
    color: rgba(0,0,0,0.9);
}
.text_field
{
    width: 100%;
    height: 160px;
    padding-left: 25px;
    padding-top: 15px;
    border: solid 1px #e5e5e5;
    border-radius: 5px;
    color: #0e8ce4;
    outline: none;
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease;
}


@media only screen and (max-width: 991px)
{
    
    .contact_info_item
    {
        width: 100%;
        margin-bottom: 30px;
    }
    .contact_info_item:last-child
    {
        margin-bottom: 0px;
    }
    
}

@media only screen and (max-width: 767px)
{
    
    .input_field
    {
        margin-bottom: 30px;
        width: 100%;
    }
    .input_field:last-child
    {
        margin-bottom: 0px;
    }
}


@media only screen and (max-width: 575px)
{
    
    .contact_submit_button
    {
        font-size: 13px;
        padding-left: 25px;
        padding-right: 25px;
    }
    
}

.h-border{
  /* background-color: #f0f8ff8c; */
    padding: 10px;
    border-radius: 18px;
}
.h-name{
  font-size: 28px;
  font-weight: bold;
}

.h-sub-name{
  font-weight: bold;
    font-size: 13px;
    letter-spacing: 0px;
    /* line-height: 12px; */
    color: blue;
    padding-bottom: 18px;
}

.issn{
  background-color: #f0f8ff8c;
  padding: 5px;
}


.h-img{
  height: 90px;
}
.logo{
  height: 131px;
  /* background: #f0f8ffa8; */
  padding: 17px;
  border-radius: 18%;
  margin: 15px;


}

.card-c{
  background-color: white;
  height: 100%;
  width: 100%;
  box-shadow: 0 0 10px 0 rgba(100, 100, 100, 0.26);
}

.h-box{
  background-color: #f7941c;
  color: white;
}

.h-box-text{
  font-weight: 600;

}

.hover-card:hover{
  background-color: #046bd2;
  color: white;
}

@media only screen and (max-width: 575px)
{
    
  .h-img{
    height: 60px;
  }
  .h-name{
    font-size: 18px;
  }
    
}